<div class="table-responsive-md">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">İli</th>
      <th scope="col">İlçesi</th>
      <th scope="col">Tarih</th>
      <th scope="col">En Düşük Sıc. (°C)</th>
      <th scope="col">En Yüksek Sıc. (°C)</th>
      <th scope="col">En Düşük Nem (%)</th>
      <th scope="col">En Yüksek Nem (%)</th>
      <th scope="col">Hadise</th>
      <th scope="col">Rüzgar Yön (°)</th>
      <th scope="col">Rüzgar Hız (km/sa)</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let s of sdFiltered">
        <td>{{ s.il }}</td>
        <td>{{ s.ilce }}</td>
        <td>{{ s.tarih  | date: 'dd.MM.yyyy' }}</td>                  
        <td>{{ s.enDusuk }}</td>
        <td>{{ s.enYuksek }} </td>
        <td>{{ s.enDusukNem }} </td>
        <td>{{ s.enYuksekNem }} </td>
        <td>{{ s.hadise }} </td>
        <td>{{ s.ruzgarYon }} </td>
        <td>{{ s.ruzgarHiz }} </td>
      </tr>
  </tbody>
</table> 

</div>