<div class="table-responsive-md">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">İli</th>
      <th scope="col">İlçesi</th>
      <th scope="col">Tarih</th>
      <th scope="col">En Düşük Sıc. (°C)</th>
      <th scope="col">En Yüksek Sıc. (°C)</th>
      <th scope="col">En Düşük Nem (%)</th>
      <th scope="col">En Yüksek Nem (%)</th>
      <th scope="col">Hadise</th>
      <th scope="col">Rüzgar Yön (°)</th>
      <th scope="col">Rüzgar Hız (km/sa)</th>
    </tr>
  </thead>
  <tbody>

      <tr *ngFor="let user of users$">
      <th scope="row"></th>               
      <td routerLink="/details/{{user.id}}">{{ user.id }}></td>
      <td routerLink="/details/{{user.id}}">{{ user.name }}></td>
      <td routerLink="/details/{{user.id}}">{{ user.email }}></td>                  
      <td routerLink="/details/{{user.id}}">{{ user.address.street }}></td>
      <td routerLink="/details/{{user.id}}">{{ user.address.suite }}></td>
      <td routerLink="/details/{{user.id}}">{{ user.address.city }}></td>
      <td routerLink="/details/{{user.id}}">{{ user.address.zipcode }}></td>
      <td routerLink="/details/{{user.id}}">{{ user.address.geo.lat }}></td>
      <td routerLink="/details/{{user.id}}">{{ user.address.geo.lng }}></td>
      </tr>
  </tbody>
</table> 
</div>