<div class="col-md-2 col-sm-12 col-xs-12">
    <input class="btn-success form-control" type="button" (click)="tarihChange(1)" value="1.Gün" />
</div>
<div class="col-md-2 col-sm-12 col-xs-12">
    <input class="btn-success form-control" type="button" (click)="tarihChange(2)" value="2.Gün" />
</div>
<div class="col-md-2 col-sm-12 col-xs-12">
    <input class="btn-success form-control" type="button" (click)="tarihChange(3)" value="3.Gün" />
</div>
<div class="col-md-2 col-sm-12 col-xs-12">
    <input class="btn-success form-control" type="button" (click)="tarihChange(4)" value="4.Gün" />
</div>
<div class="col-md-2 col-sm-12 col-xs-12">
    <input class="btn-success form-control" type="button" (click)="tarihChange(5)" value="5.Gün" />
</div>